header{
    margin-top: 5%;
   
}
.title-text{
color: #F7F7F7;
font-size: 5vw;
}
.text-size{
    font-size: 1.2vw;
}

.footer{
    position:absolute;
    bottom: 0;
    
    color: #F7F7F7;
    width: 100%;
    background-color: #484848;
}

@media only screen and (max-width: 415px){
    .footer{
        position:absolute;
        bottom: 0;
        font-size: 3vw;
        color: #F7F7F7;
        width: 100%;
        background-color: #484848;
    }
  }