.login-container{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    font-family: PT Sans;
    color: #F7F7F7;
    font-size: 1.5vw;
    padding-left: 10%;
    padding-top: 5%;
}

.form-label{
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: PT Sans;
}

.href-text{
    color:#F8B500;
    text-align: center;
    text-decoration: none;
    font-size: 1vw;
}
.href-text:hover{
    color:#e4850a;
}

.form-button{
    width: auto;
    height: auto;
    
    
}