<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="eSakwa"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Custom_Theme">
        <activity android:name=".activity.EditWalletActivity"></activity>
        <activity android:name=".activity.AddMemberActivity" />
        <activity android:name=".activity.ChangePasswordActivity" />
        <activity android:name=".activity.EditProfileActivity" />
        <activity android:name=".activity.StatueActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.CreateWalletActivity" />
        <activity android:name=".activity.WalletActivity" />
        <activity android:name=".activity.RegistrationActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>