

#root{
  position: relative;
  background-image:url(background_image.png);
  height: 100%;
  
}
.navbarBrand{
  font-family: PT Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  margin-left: 30px;
 
  background:
  -webkit-linear-gradient(#F8B500, #FF3D3D);
  -webkit-background-clip: text;
          background-clip:text;
  -webkit-text-fill-color: transparent;
  
}

.navbar-nav{
 position: relative;
 float: right;
 margin-left: auto;
 margin-right: 2%;
 flex-wrap: wrap;
}
.nav-item{
  
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 20px !important;
}

#mainbuttonstyle{
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 2px 17px;
  position: static;
 

  left: calc(50% - 174px/2 - 116px);
  top: calc(50% - 65px/2);
  margin-top: 6px;

  
  background: linear-gradient(284.77deg, #F8B500 32.81%, #F80000 189.19%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  border-color: transparent;
  font-size: 20px !important;
}
#mainbuttonstyle:hover{
  background: linear-gradient(284.77deg, #F8B100 32.81%, #F8B500 189.19%);
 }
