

#root{
  position: relative;
  background-image:url(background_image.png);
  height: 100%;
  overflow: auto;
  
}
#content{
  padding-bottom: 80px;
  overflow: auto;
  height: 100%;
}

.navbar-brand{
 
  font-style: normal;
  font-weight: bold;
  font-size: 30px !important;
  
 
  background:
  -webkit-linear-gradient(#F8B500, #FF3D3D);
  -webkit-background-clip: text;
          background-clip:text;
  -webkit-text-fill-color: transparent;
  
}

.navbar-nav{
 position: relative;
 float: right;
 margin-left: auto;
 margin-right: 2%;
 flex-wrap: wrap;
}

.nav-item{
  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
 
}

#mainbuttonstyle{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 17px;
  position: static;
  left: calc(50% - 174px/2 - 116px);
  top: calc(50% - 65px/2);
  margin-top: 6px;
  background: linear-gradient(284.77deg, #F8B500 32.81%, #F80000 189.19%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  border-color: transparent;
  
}

#mainbuttonstyle:hover{
  background: linear-gradient(284.77deg, #F8B100 32.81%, #F8B500 189.19%);
 }

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.grid-container-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}


.main-button-style{
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 17px !important;
  position: static;
  left: calc(50% - 174px/2 - 116px);
  top: calc(50% - 65px/2);
  margin-top: 6px;
  background: linear-gradient(284.77deg, #F8B500 32.81%, #F80000 189.19%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 24px !important;
  border-color: transparent !important;
  
}

.main-button-style:hover{
  background: linear-gradient(284.77deg, #F8B100 32.81%, #F8B500 189.19%);
 }




#vector-image{
  background-image: url(headervector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 3vw;
  width: 30vw;
  margin-top: -7px;
}
#piggy-image{
  background-image: url(logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 500px;
  margin-top:-40%;
  margin-left:40%;
  overflow: hidden;
}

input[type='text'], input[type='password'], input[type='email'],input[type='number']{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
  border-color: transparent;
}

.margin-left-text{
  margin-left: 50px;
}

.form-container{
  position: relative;
 
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  font-family: PT Sans;
  color: #F7F7F7;
  padding-top:5%;
  padding-left: 20%;
  padding-right: 20%;
  width: 100%;
  
  
}
.base-text{
  color: #F7F7F7 !important;
}
.error-text{
  color: #F55B5B!important;
}
.green-text{
  color: #41C236!important;
}
.text-size{
  font-size: 25px !important;
}
.form-label{
  
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: PT Sans;
}

.href-text{
  color:#F8B500;
  text-align: left;
  text-decoration: none;
}
.href-text:hover{
  color:#e4850a;
}

.text-label{
  color:#F8B500;
  /*text-align: left;*/
  text-decoration: none;
 
}
.form-button{
  width: 100%;
  display: block;
  height: auto;
  
  
}
.add-photo-icon{
  background-image:url(photo-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-color:transparent;
  background-color: transparent;
  
}
.reminder-icon{
  background-image:url(reminder.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-color:transparent;
  background-color: transparent;
  
}
.handshake-icon{
  background-image:url(handshake.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-color:transparent;
  background-color: transparent;
  
}



#insert-photo-button{

flex-direction: row;
justify-content: center;
align-items: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
border-color: #c4c4c4;


background: #dadada;
border-radius: 38px;

}
.img-preview{
  max-width: 100%;
  max-height: 100%;
  
}
.profile-img-preview{
  max-width: 100%;
  max-height: 100%;
  border-radius: 100%;
}
.center-content{
  text-align: center;
 /*padding-top: 3%;*/
  box-sizing: border-box;

}
.left-content{
  text-align: left;
  /*padding-top: 3%;*/
  box-sizing: border-box;

}
.right-content{
  text-align: right;
   /*padding-top: 3%;*/
  box-sizing: border-box;

}
.grey-scale{
  filter: grayscale(100%);
}
.invert-colors{
  filter: invert(1);
}
.red-filter{
  filter: hue-rotate(320deg) saturate(2.1) grayscale(0.44) contrast(1.2);

}
.margin-bot-5{
  margin-bottom: 5px;
}
.add-icon{
  
  background-image:url(add-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-color:transparent;
  background-color: transparent;
  
  
}
.cash-icon{
  
  background-image:url(cash-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-color:transparent;
  background-color: transparent;
  
  
}
.delete-user-icon{
    
  background-image:url(remove-user.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-color:transparent;
  background-color: transparent;
  
}
.delete-list-element{
    
  background-image:url(delete-list-element.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-color:transparent;
  background-color: transparent;
  
}
.edit-list-element{
    
  background-image:url(edit-list-element.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-color:transparent;
  background-color: transparent;
  
}
.dropdown-arrow {
  
  
  background-color: transparent;
  border-color: transparent;
  background-image:url(arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0px;
  margin-left:auto;
  
}
.down-arrow {
  
  
  background-color: transparent;
  border-color: transparent;
  background-image:url(arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0px;
  margin-left:auto;
  transform: rotate(-90deg);
}

.up-arrow {
  
  
  background-color: transparent;
  border-color: transparent;
  background-image:url(arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
 
  transform: rotate(90deg);
  
}

.click-to-hide-arrow{
  transform: rotate(-90deg);
}


.width-100{
  width: 100%;
  
}
.icons-size{
  width: 40px;
  height: 40px;
}
.icons-size-2{
  width: 30px;
  height: 30px;
}
/*PLACEHOLDER PROFILE PICTURE*/
.profile-picture{
  
  background-size: 220px;
  
  height: 220px;
  width: 220px;
  border-radius:120px;
  size:auto;
  margin:auto;
  
  background-repeat: no-repeat;
  
  background-position: center;
}

.delete-user-from-list{
  
  background-image: url(icon_person-added.svg);
  size:auto;
  margin:auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  color: transparent;
  border-color:transparent;
}

.delete-user-from-list:hover{
  background-image: url(icon_person-delete.svg);
}
.add-user-to-list{
  background-image: url(icon_person-add.svg);
  size:auto;
  margin:auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  color: transparent;
  border-color:transparent;
}
/*Small devices*/
@media only screen and (max-width: 540px){
  .text-size{
    font-size: 15px !important;
  }
  #content{
    padding-bottom: 80px;  
  }
  
  #bootstrap-overrides .navbar-brand{
    font-size: 30px !important;
  }
  
  .navbar-nav{
   position: relative;
   float: right;
   margin-left: auto;
   margin-right: 2%;
   flex-wrap: wrap;
  }

  #mainbuttonstyle{
    padding: 2px 17px;
    position: static;
    left: calc(50% - 174px/2 - 116px);
    top: calc(50% - 65px/2);
    margin-top: 6px;
  }

  
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .grid-container-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
  
  #bootstrap-overrides .main-button-style{
    padding: 2px 17px !important;
    position: static;
    left: calc(50% - 174px/2 - 116px);
    top: calc(50% - 65px/2);
    margin-top: 6px;  
  }
  #vector-image{
    height: 3vw;
    width: 30vw;
    margin-top: -7px;
  }
  #piggy-image{
    
    height: 500px;
    width: 500px;
    margin-top:-40%;
    margin-left:40%;
  }
  .form-container{
    padding-top:5%;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;  
  }
  .form-label{
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  .dropdown-arrow {
    margin-right: 0px;
    margin-left:auto;
    
  }
  .down-arrow {
    margin-right: 0px;
    margin-left:auto;
  }
  
  

  
  /*PLACEHOLDER PROFILE PICTURE*/
  .profile-picture{
    background-size: 220px;
    height: 220px;
    width: 220px;
    size:auto;
    margin:auto;
  }
  
  .delete-user-from-list{  
    size:auto;
    margin:auto;
  }
  
  .add-user-to-list{
    size:auto;
    margin:auto;
  }

}

/*Medium devices*/
@media only screen and (max-width: 768px){
  .icons-size{
    width: 30px;
    height: 30px;
  }
  .icons-size-2{
    width: 20px;
    height: 20px;
  }
  .text-size{
    font-size: 15px !important;
  }
  #content{
    padding-bottom: 80px;  
  }
  
  #bootstrap-overrides .navbar-brand{
    font-size: 30px !important; 
  }
  
  .navbar-nav{
   position: relative;
   float: right;
   margin-left: auto;
   margin-right: 2%;
   flex-wrap: wrap;
  }

  
  #mainbuttonstyle{
    padding: 2px 17px;
    position: static;
    left: calc(50% - 174px/2 - 116px);
    top: calc(50% - 65px/2);
    margin-top: 6px;
  }

  
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .grid-container-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
  
  #bootstrap-overrides .main-button-style{
    padding: 2px 17px !important;
    position: static;
    left: calc(50% - 174px/2 - 116px);
    top: calc(50% - 65px/2);
    margin-top: 6px;  
  }
  #vector-image{
    height: 3vw;
    width: 30vw;
    margin-top: -7px;
  }
  #piggy-image{
    
    height: 500px;
    width: 500px;
    margin-top:-40%;
    margin-left:40%;
  }
  .form-container{
    
    padding-top:5%;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;  
  }
  .form-label{
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  
  
  .dropdown-arrow {
    margin-right: 0px;
    margin-left:auto;
    
  }
  .down-arrow {
    height: 45px;
    width: 45px;
    margin-right: 0px;
    margin-left:auto;
  }
  
  .up-arrow {
    height: 45px;
    width: 45px;
  }

  
  /*PLACEHOLDER PROFILE PICTURE*/
  .profile-picture{
    background-size: 220px;
    height: 220px;
    width: 220px;
    size:auto;
    margin:auto;
  }
  
  .delete-user-from-list{  
    size:auto;
    margin:auto;
  }
  
  .add-user-to-list{
    size:auto;
    margin:auto;
  }

}


/*Large devices*/
@media only screen and (max-width: 992px){
 
  #content{
    padding-bottom: 80px;  
  }
  
  #bootstrap-overrides .navbar-brand{
    font-size: 30px !important; 
  }
  
  .navbar-nav{
   position: relative;
   float: right;
   margin-left: auto;
   margin-right: 2%;
   flex-wrap: wrap;
  }
 
  #mainbuttonstyle{
    padding: 2px 17px;
    position: static;
    left: calc(50% - 174px/2 - 116px);
    top: calc(50% - 65px/2);
    margin-top: 6px;
  }

  
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .grid-container-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
  
  #bootstrap-overrides .main-button-style{
    padding: 2px 17px !important;
    position: static;
    left: calc(50% - 174px/2 - 116px);
    top: calc(50% - 65px/2);
    margin-top: 6px;  
  }
  #vector-image{
    height: 3vw;
    width: 30vw;
    margin-top: -7px;
  }
  #piggy-image{
    
    height: 500px;
    width: 500px;
    margin-top:-40%;
    margin-left:40%;
  }
  .form-container{
   
    padding-top:5%;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;  
  }
  .form-label{
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  .dropdown-arrow {
    margin-right: 0px;
    margin-left:auto;
    
  }
  .down-arrow {
    
    margin-right: 0px;
    margin-left:auto;
  }
  
  
  
  /*PLACEHOLDER PROFILE PICTURE*/
  .profile-picture{
    background-size: 220px;
    height: 220px;
    width: 220px;
    size:auto;
    margin:auto;
  }
  
  .delete-user-from-list{  
    size:auto;
    margin:auto;
  }
  
  .add-user-to-list{
    size:auto;
    margin:auto;
  }

}

/*Extra large devices*/
@media only screen and (max-width: 1200px){
 
  #content{
    padding-bottom: 80px;  
  }
  
  #bootstrap-overrides .navbar-brand{
    font-size: 30px !important; 
  }
  
  .navbar-nav{
   position: relative;
   float: right;
   margin-left: auto;
   margin-right: 2%;
   flex-wrap: wrap;
  }
  
  
  #mainbuttonstyle{
    padding: 2px 17px;
    position: static;
    left: calc(50% - 174px/2 - 116px);
    top: calc(50% - 65px/2);
    margin-top: 6px;
  }

  
  .grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .grid-container-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
  
  #bootstrap-overrides .main-button-style{
    padding: 2px 17px !important;
    position: static;
    left: calc(50% - 174px/2 - 116px);
    top: calc(50% - 65px/2);
    margin-top: 6px;  
  }
  #vector-image{
    height: 3vw;
    width: 30vw;
    margin-top: -7px;
  }
  #piggy-image{
    
    height: 500px;
    width: 500px;
    margin-top:-40%;
    margin-left:40%;
  }
  .form-container{
    
    padding-top:5%;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;  
  }
  .form-label{
    padding-top: 1%;
    padding-bottom: 1%;
  }
  
  
  .dropdown-arrow {
    margin-right: 0px;
    margin-left:auto;
    
  }
  .down-arrow {
    margin-right: 0px;
    margin-left:auto;
  }
  
  

  
  /*PLACEHOLDER PROFILE PICTURE*/
  .profile-picture{
    background-size: 220px;
    height: 220px;
    width: 220px;
    size:auto;
    margin:auto;
  }
  
  .delete-user-from-list{  
    size:auto;
    margin:auto;
  }
  
  .add-user-to-list{
    size:auto;
    margin:auto;
  }

}
